.heder {
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
}
li {
  list-style-type: none;
  padding-left: 20px;
  padding-top: 18px;
  padding-right: 10px;
  color: rgb(12, 12, 121);
  font-weight: bold;
}
.logo {
  font-size: 24px;
  padding: 15px;
  color: rgb(12, 12, 121);
}

.px {
  width: 900px;

  height: 500px;
  position: relative;
  top: 100px;
  left: 550px;
  justify-content: right;
}
.text {
  font-size: 60px;
}
.blue {
  height: 180px;
  width: 850px;
  background: darkblue;
}
